
@import url('box.css');

body{
    scroll-behavior: smooth;
}

.info{
    color: #888;
}

.box.text{
    font-size: 90px;
}

.box.text>*{
    display: inline-block;
    margin: 0;

}

.text.center{
    text-align: center;
}

.box.card{
    margin-top: 10px;
    border-radius: 44px;
    /* box-shadow: 5px 5px 10px #0000000f; */
    margin: px;
    background-color: #7f7f7f20;
    padding: px 1px;
    width: 95%;
}

.box.card>.tit{
    font-size: 30px;
    line-height: 1.1;
    font-weight: 40
        0;
    margin: 10px 0;
    text-align: start;
}

.box.card>.tit.center{
    text-align: center;
}

